sudo: false
cache: bundler
rvm:
  - 2.5.4
  - 2.6.0
addons:
  chrome: stable
gemfile:
  - gemfiles/rails_5.gemfile
  - gemfiles/rails_6.gemfile
env:
  global:
    - TRAVIS=true
    - DISPLAY=:99.0
    - TEASPOON_DEVELOPMENT=true
before_script:
  - sh -e /etc/init.d/xvfb start
  - npm install -g istanbul
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
before_install:
  - gem install bundler
script:
  - bundle exec rake
after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
