<!DOCTYPE>
<html>
  <head>
    <title>Teabag :: Javascript Test Runner</title>
    <%= stylesheet_link_tag *@suite.stylesheets %>
    <%= javascript_include_tag *@suite.javascripts %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="teabag-display">
      <div class="teabag-clearfix">
        <div id="teabag-title">
          <h1>Teabag</h1>
          <ul>
            <li>version: <b><%= Teabag::VERSION %></b></li>
            <li id="teabag-env-info"></li>
          </ul>
        </div>
        <div id="teabag-progress" class="circular">
          <em id="teabag-progress-percent">0%</em>
        </div>
        <ul id="teabag-stats">
          <li>passes: <b id="teabag-stats-passes">0</b></li>
          <li>failures: <b id="teabag-stats-failures">0</b></li>
          <li>skipped: <b id="teabag-stats-skipped">0</b></li>
          <li>duration: <b id="teabag-stats-duration">&infin;</b></li>
        </ul>
      </div>
      <div id="teabag-controls" class="teabag-clearfix">
        <div id="teabag-toggles">
          <button id="teabag-use-catch">Use Try/Catch</button>
          <button id="teabag-build-full-report">Build Full Report</button>
          <button id="teabag-show-full-report">Show Full Report</button>
        </div>
        <button onclick="window.location.href = window.location.pathname">Run All Specs</button>
      </div>
    </div>

    <hr/>

    <div id="teabag-fixtures"></div>

    <div id="teabag-report">
      <ol id="teabag-report-failures"></ol>
      <ol id="teabag-report-all"></ol>
    </div>

    <div id="mocha"></div>

<!--<ul>-->
<!--<li class="test pass slow"><h2>actially tests<span class="duration">1ms</span>-->
<!--<a href="?grep=Teabag%20running%20Mocha%20running%20tests%20actially%20tests" class="replay">‣</a></h2>-->
<!--<pre style="display: none;"><code><span class="keyword">return</span> expect(passing).to.equal(true);</code></pre>-->
<!--</li>-->
<!--</ul>-->
<!--</li>-->
<!--<li class="suite"><h1><a href="?grep=Teabag%20running%20Mocha%20failing%20tests">failing tests</a></h1>-->
<!--<ul>-->
<!--<li class="test pass fast"><h2>can fail<span class="duration">0ms</span>-->
<!--<a href="?grep=Teabag%20running%20Mocha%20failing%20tests%20can%20fail" class="replay">‣</a></h2>-->
<!--<pre style="display: none;"><code><span class="keyword">return</span>-->
<!--expect(failing).to.equal(false);</code></pre>-->
<!--</li>-->
<!--</ul>-->
<!--</li>-->
<!--<li class="suite"><h1><a href="?grep=Teabag%20running%20Mocha%20nesting">nesting</a></h1>-->
<!--<ul>-->
<!--<li class="suite">-->
<!--<h1><a href="?grep=Teabag%20running%20Mocha%20nesting%20multiple%20levels">multiple levels</a></h1>-->
<!--<ul>-->
<!--<li class="test pass fast"><h2>displays<span class="duration">1ms</span>-->
<!--<a href="?grep=Teabag%20running%20Mocha%20nesting%20multiple%20levels%20displays" class="replay">‣</a>-->
<!--</h2>-->
<!--<pre style="display: none;"><code><span class="keyword">return</span>-->
<!--expect(passing).to.equal(true);</code></pre>-->
<!--</li>-->

    <script type="text/javascript">
      Teabag.execute()
    </script>
  </body>
</html>
