body {
  margin: 0;
  padding: 0;
  font: 15px/1.5em "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f4f3ee;
}

/* Base Reporter
 *---------------------------------------------------------------------------*/
#teaspoon-interface {
  padding: 45px 50px 0;
  min-width: 430px;
  border-top: 3px solid #18c2e8;
  color: #000;
}
#teaspoon-interface hr {
  border: 0;
  background: #cfc8c4;
  height: 1px;
  margin: 20px 0;
}
#teaspoon-interface .teaspoon-clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
html[xmlns] #teaspoon-interface .teaspoon-clearfix {
  display: block;
}
* html #teaspoon-interface .teaspoon-clearfix {
  height: 1%;
}

/* Title / Env info
 *---------------------------------------------------------------------------*/
#teaspoon-title {
  float: right;
  min-height: 100px;
  text-align: right;
}
#teaspoon-title h1 {
  margin: 0;
  font-weight: 100;
  font-size: 42px;
  line-height: 44px;
}
#teaspoon-title ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  font-weight: 200;
  font-style: normal;
}
#teaspoon-title b {
  font-weight: 400;
}
#teaspoon-title a {
  text-decoration: none;
  color: #000;
}
#teaspoon-title a:hover {
  border-bottom: 1px solid #000;
}

/* Progress indicator
 *---------------------------------------------------------------------------*/
#teaspoon-progress {
  float: left;
  width: 86px;
  height: 86px;
  margin: 0 30px 14px 0;
}
#teaspoon-progress .teaspoon-indicator {
  background-color: #18c2e8;
}

#teaspoon-progress .teaspoon-logo {
  width: 86px;
  height: 86px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFYAAABWCAMAAABiiJHFAAAAGFBMVEUAAADw7urz8u3y8ezz8u3z8u3z8u308+5JPTlvAAAAB3RSTlMAHt9DlG6+wwFeZgAAAtRJREFUeNrt2etyozAMBWAdHUl5/zfeZXMRjgV2TPNnp2c6HQqer4rAxAly+0p+2RlW9RtswL/BQvgF1kXw86zK38Rsw00n2dhYb0BzAgKA9m5TfI512aJZD2UfWtcxnWfxRCHvwR62HDvDCrb2KqUKo2vZkLV8uQY5iDWs6JhVmYk3RdiODa1dzLrZMr5YpYifNXfsZg14sRQ5cBVzrt1LSDb/1vqkzSW2kTs2G8grbYBLy2ZBg4tsMnywzAZViQ9Zf7DIHVXwiZnTQbP8C71tkJbF8jzLQCt2XCzMOLiAx6yW1dxdFKrnbfyst15WE/ctZa2OL7CuIn3uZvFacEs2Z91oKuQYPmpg2dn2nhA9y2M2quNM9uGiUFUG1VY9SnY77HNTIZ7jUfQoFcn/PjVv+Wo5zevDybpITM4wO7/56Jh1qQLISWzMUj4PdyzLuaCyEn2xWs8xW2LtxUbNcollNgHlfQZLLJI1FGzIWqKZDt2l4IustSwvtTbDlhW93tpcfiTBk9ZCu9hrH1tXW7btrr2V0Idatyv27PZzcsa0Zz1q1p+siggp4scr0OhZxmuwl2xs7PYrTt9x2wQPWsaNzU8+FIEefVLys2LbRmD/XnZfh6BEq7ntzEq9LVcfLHM9DUe5ZEFXbG4JWjb2rO1eCcyq+2hGCc95w5a13R1MPBdXrjmsvhSY7dZ/x7xnNU+Ki9C0uodbU+zuP4XY21T3PcvmmwI/vRRstyvifbi3TcgULCu2Hs0HGwR8tFw+ZpVSslPrpOhY3pvgIhdY6+6azM0FtmxuRGgOnGZNii5UwVUWoc9zlBuUj9iQIugiVfyYVVmPJdsF62ycsFxnbyesLaus2OvNtWSL8Oqqpo7i6tKuTiyp4+8YA2tqsnWUH6KIue/GDZ+gPv/cwTiN6kdPScIxNmkLD1/UiBPSY/2ZjoY5CSQH0M30Zx4V6TO/z8v+K/YPUO9s8Zs6f9sAAAAASUVORK5CYII=");
}

#teaspoon-progress .radial-progress {
  padding: 8px;
  border-radius: 100px;
  box-shadow: inset 2px 2px 7px 0 rgba(0, 0, 0, 0.45);
  overflow: hidden;
}
#teaspoon-progress .radial-progress canvas {
  position: absolute;
  margin: -5px;
}
#teaspoon-progress .radial-progress em {
  display: block;
  width: 70px;
  height: 70px;
  background: #f4f3ee;
  border-radius: 100px;
  text-align: center;
  box-shadow: inset 1px 1px 0 1px rgba(255, 255, 255, 1), 7px 7px 15px 0 rgba(0, 0, 0, 0.45);
  line-height: 70px;
  font-style: normal;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
  font-weight: 200;
  font-size: 20px;
  color: #312c29;
}
#teaspoon-progress .radial-progress em:after {
  display: block;
  position: relative;
  top: -68px;
  left: -14px;
  width: 87px;
  height: 34px;
  -webkit-transform: rotate(-18deg);
  transform: rotate(-18deg);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  content: "\00a0";
}

#teaspoon-progress .simple-progress {
  width: 84px;
  height: 84px;
}
#teaspoon-progress .simple-progress em {
  display: block;
  text-align: center;
  line-height: 61px;
  font-style: normal;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
  font-weight: 200;
  font-size: 30px;
  color: #312c29;
}
#teaspoon-progress .simple-progress span {
  display: block;
  height: 20px;
  border: 1px solid #5a423c;
}

/* Statistics
 *---------------------------------------------------------------------------*/
#teaspoon-stats {
  float: left;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 14px;
  font-weight: 200;
  color: #482b25;
}
#teaspoon-stats b {
  font-weight: 400;
}

/* Controls / Settings Toggles
 *---------------------------------------------------------------------------*/
#teaspoon-controls {
  height: 15px;
}
#teaspoon-controls button {
  margin: 0;
  padding: 3px 8px;
  zoom: 1;
  border: 1px solid #B3B3B3;
  outline: none;
  border-radius: 0.4em;
  background-color: #fff;
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.05));
  box-shadow: inset 0 1px 4px rgba(255, 255, 255, 0.5);
  text-align: center;
  cursor: pointer;
}
#teaspoon-controls button:active,
#teaspoon-controls button.active {
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
  background: #D9D9D9;
  outline: 0;
}
#teaspoon-controls button:hover {
  background-color: #E6E6E6;
}
#teaspoon-controls select {
  position: relative;
  top: -1px;
  height: 21px;
  max-width: 150px;
  margin: 0;
  border: 1px solid #B3B3B3;
  outline: none;
}
#teaspoon-controls input {
  margin: 0;
  padding: 2px 8px;
  zoom: 1;
  border: 1px solid #B3B3B3;
  outline: none;
  font-size: 12px;
  border-radius: 0.4em;
  background-color: #fff;
  width: 100%;
  box-sizing: border-box;
}

#teaspoon-controls #teaspoon-toggles {
  float: right;
}
#teaspoon-controls #teaspoon-toggles button:first-child {
  border-top-left-radius: 0.4em;
  border-bottom-left-radius: 0.4em;
}
#teaspoon-controls #teaspoon-toggles button:last-child {
  border-top-right-radius: 0.4em;
  border-bottom-right-radius: 0.4em;
}
#teaspoon-controls #teaspoon-toggles button {
  border-radius: 0;
  margin-left: -1px;
  float: left;
  position: relative;
}

/* Filter
 *---------------------------------------------------------------------------*/
#teaspoon-filter {
  font-weight: 200;
  display: none;
}
#teaspoon-filter.teaspoon-filtered {
  display: block;
}
#teaspoon-filter h1 {
  float: left;
  height: 15px;
  margin: -11px 15px 0 10px;
  padding: 0 4px 5px;
  background: #f4f3ee;
  text-align: right;
  font-size: 17px;
  font-weight: 200;
  color: #7b4f49;
}
#teaspoon-filter h1 a {
  text-decoration: none;
  color: #000;
}
#teaspoon-filter h1 a:hover {
  text-decoration: underline;
}
#teaspoon-filter ul {
  margin: 0;
  padding: 3px 10px 6px;
  list-style: none;
  border: 1px solid #cfc8c4;
  border-radius: 3px;
}
#teaspoon-filter li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}


/* Reporting
 *---------------------------------------------------------------------------*/
#teaspoon-report a {
  text-decoration: none;
  color: #482b25;
}
#teaspoon-report a:hover {
  text-decoration: underline;
}
#teaspoon-report h1 {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
}
#teaspoon-report h2 {
  margin: 0;
  font-size: 15px;
  font-weight: 200;
}
#teaspoon-report div {
  overflow: auto;
  padding: 5px;
  margin-bottom: 20px;
  border: 1px dotted #d07f6b;
  font-size: 12px;
  white-space: pre;
}
#teaspoon-report ol {
  margin: 0 0 20px;
  padding: 0;
}
#teaspoon-report ol ol {
  background: rgba(200, 184, 161, 0.1);
  margin: 0;
  padding: 0 0 0 20px;
}
#teaspoon-report span {
  display: inline-block;
  background: #5a423c;
  color: #f4f3ee;
  margin: 2px 5px 1px;
  border-radius: 3px;
  font-size: 11px;
  line-height: normal;
  padding: 3px;
}
#teaspoon-report .slow span {
  background: #ff3f3c;
}

#teaspoon-report #teaspoon-report-all {
  margin: 0;
  padding: 0;
  list-style: none;
}
#teaspoon-report #teaspoon-report-all ol {
  list-style: none;
}
#teaspoon-report #teaspoon-report-all > li {
  margin-bottom: 20px;
}
#teaspoon-report #teaspoon-report-all li {
  font-size: 15px;
  font-weight: 200;
}
#teaspoon-report #teaspoon-report-all li.state-pending {
  background: rgba(255, 210, 0, 0.49);
}
#teaspoon-report #teaspoon-report-all li.state-failed {
  background: rgba(255, 2, 0, 0.1);
  display: block;
}
#teaspoon-report #teaspoon-report-all div {
  background: rgba(255, 255, 255, 0.7);
  height: 100px;
  margin-bottom: 0;
}

#teaspoon-report #teaspoon-report-failures {
  margin-left: 20px;
}
#teaspoon-report #teaspoon-report-failures h1 a {
  font-size: 18px;
  color: #cb190f;
}
#teaspoon-report #teaspoon-report-failures div {
  background: rgba(255, 255, 255, 0.6);
}

/* State Overrides
 *---------------------------------------------------------------------------*/
body.teaspoon-failed #teaspoon-interface {
  border-top: 3px solid #ff3f3c;
}
body.teaspoon-passed #teaspoon-interface {
  border-top: 3px solid #51e431;
}
body.teaspoon-failed #teaspoon-progress .teaspoon-indicator {
  background-color: #ff3f3c;
}
body.teaspoon-passed #teaspoon-progress .teaspoon-indicator {
  background-color: #51e431;
}

/* Fixtures
 *---------------------------------------------------------------------------*/
#teaspoon-fixtures {
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  width: 10000px;
  opacity: 0;
  background: #fff;
}

/* Suite List
 *---------------------------------------------------------------------------*/
#teaspoon-suite-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
#teaspoon-suite-list ul {
  margin: 0 0 20px 0;
  padding: 0 0 0 20px;
  list-style: none;
  font-weight: 200;
}
#teaspoon-suite-list a {
  text-decoration: none;
  color: #482b25;
}
#teaspoon-suite-list a:hover {
  text-decoration: underline;
}
#teaspoon-suite-list h1 {
  margin: 0 0 -1px 0;
  font-weight: 400;
  font-size: 20px;
  border-bottom: 1px dotted #cfc8c4;
}

/* Responsive
 *---------------------------------------------------------------------------*/
@media (max-width: 540px) {
  #teaspoon-interface {
    padding: 15px 5px;
  }
  #teaspoon-progress {
    margin-right: 15px;
  }
}
